<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <!-- Evangelho Escrito -->
  <ion-tab title="Evangelho Escrito" href="#/tab/text" icon="ion-ios-book">
    <ion-nav-view name="tab-text"></ion-nav-view>
  </ion-tab>

  <!-- Humor com os Amigos da Luz -->
  <ion-tab title="Vídeos de Humor" href="#/tab/amigosDaLuz" icon="ion-videocamera">
    <ion-nav-view></ion-nav-view>
  </ion-tab>

  <!-- Palavra Cantada para Crianças -->
  <ion-tab title="Música para Crianças" href="#/tab/palavraCantada" icon="ion-ios-musical-notes">
    <ion-nav-view></ion-nav-view>
  </ion-tab>

</ion-tabs>
